body {
    margin:0px;
    font-family:Verdana;
    font-size:14px;
    background: url("/background-image/BackgroundImage.jpg") no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover; 
    -moz-background-size: cover;    
    -o-background-size: cover;
}

a {
    text-decoration:none;
    color:white;
}

header {
    background-color: lightblue;
    width:100%;
    height:60px;
}

.logo { position:absolute; margin-left:15%; width:150px; top:6px; }

.links {
    text-align:right;
    margin-left:15%;
    margin-right:15%;
    white-space:nowrap;
}

.links_header {
    position:relative;
    top:40px;
    font-weight:bold;
    color:white;
}

section {
    position:relative;
    top:20px;
    margin-left:15%;
    margin-right:15%;
    padding-left:40px;
    background-color:white;
}

h2 {
    padding-top:20px;
    font-size:18px;
    font-weight:normal;
}

.text_link {
    position:relative;
    left:1px;
    font-style:italic;
    font-size:12px;
    padding-bottom:50px;
    margin-right:10%;
}

.to_login {
    font-style:italic;
    font-size:12px;
    text-decoration:none;
    color:lightblue;
}

.fm {
    font-family:Verdana;
    font-size:12px;
    font-style:italic;

    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;

    margin-bottom:20px;
    margin-right:3%;

    border:1px solid;
    box-shadow:1px 1px 1px gray;
    width:40%;
}

.rg {
    font-family:Verdana;
    font-weight:bold;
    font-size:12px;

    padding-top:8px;
    padding-bottom:8px;
    padding-right:20px;
    padding-left:20px;

    float:right;
    margin-right:15%;

    color:white;
    background-color:lightgray;
    border:none;
    box-shadow: 3px 5px 5px gray;
    z-index:100;
}

footer {
    /* position:relative;
    width:100%; */
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color:gray;
    height:150px;
    z-index:-9999;
}

table {
    width:30%;
    font-size:12px;
    padding-top:10px;
    margin-left:15%;
    white-space:nowrap;
    color:white;

}

th {
    height:40px;
    font-size:12px;
    text-align:left;
    padding-right:10px;
}

td { padding-right:10px; }

.error-message { position:relative; bottom:5px; margin:0px; }

/* @media - Responsive Design */

@media screen and (max-height:680px) { footer { position:relative; top:45px; } }
@media screen and (max-height:730px) and (max-width:870px) { footer { position:relative; top:63px; } }
@media screen and (max-width:450px) {
    .fm { width:80%; }
    .section { width:250px;}

    @media screen and (max-height:765px) { footer { position:relative; top:36px; } }
}
@media screen and (max-width:870px) { .rg { float:none; } }